@import '~bootstrap/scss/bootstrap';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

// $app-bgcolor: #282c34;
// $text: #333;
$text_muted: darkgray;

.header {
    display: flex;
    align-items: center;

    &__logo {
        width: 100px;
        margin-right: 1.75rem;
    }
}

ul[class] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.film {
  &__title + &__info {
    margin: -0.3rem 0 0.8rem;
  }

  &__info {
    color: $text_muted;
  }
}
