@import 'bootstrap/scss/bootstrap';

// $app-bgcolor: #282c34;
$text_muted: darkgray;

ul[class] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.App {
  // background-color: $app-bgcolor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  // color: white;
}

.App-link {
  color: #61dafb;
}

.film__title + .film__info {
  margin-top: -0.4rem;
  margin-bottom: 0.5rem;
}

.film__info {
  color: $text_muted;
}

.film__overview {
  text-align: justify;
}